* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.container-1 {
  margin-top: 50px;
  width: 50%;
  height: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 20px;
  width: 69%;
}
